$bp-largest: 90em;     // 1440px
$bp-large: 75em;       // 1200px
$bp-medium: 64em;      // 1024px
$bp-small: 48em;       // 768px
$bp-smaller: 40em;    // 640px
$bp-smallest: 30em;    // 480px

@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
  }

.searchbar{

    background-color: #fff;
    border-radius: 10rem;
    border: 1px solid #d4d4d4;
    color: #757575;
    font-size: 1.5rem;

    &__field{
        position: relative;
        background: none;
        border: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        height: 3.5rem;
        width: 50rem;
        text-indent: 2rem;
        outline: none;
        cursor: text;
        text-decoration: none;

        
        @media only screen and (max-width: $bp-small){
            width: 30rem;
        }

        @media only screen and (max-width: $bp-smallest){
            width: 15rem;
        }

    }

    &__field::placeholder{
        text-indent: 2rem;
        text-align: center;
        color: #bbbbbb;
    }

    &__field-style{
        position: relative;
    }

    &__field-style::after{
        content: "";
        display: block;
        position: absolute;
        opacity: 0;
        left: 0px;
        right: 0px;
        bottom: -1px;
        z-index: 999;
        height: 2px;
        width: 0%;
        margin: auto;
        transition: opacity .3s, width .3s;
        border-bottom-left-radius: 10rem;
        border-bottom-right-radius: 10rem;
        background-position: 0% 0%;
        background: linear-gradient(to right, #ff2c55, #ffda61, #426bb3, #ff2c55, #ffda61);
        background-size: 500% auto;
        animation: gradient 3s linear infinite;
    }

    &__field-style:focus-within::after{
        opacity: 1;
        width: 93%;
    }
}