.filter-type{
    padding: 1rem 2.4rem;
    font-weight: 600;
    color: #ccc;
}

.filters{

    margin-bottom: 4rem;

    &__item{
        padding: 1rem 2.4rem;
        position: relative;
        z-index: 0;
    }

    &__item::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        z-index: -1;
        background-color: #ff2d55;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .25s;
    }

    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;
    }
}