.latest_movies__heading{
    margin-bottom: 3rem;
    justify-self: baseline;
    align-self: center;
}

.latest_movies__item{
    display: flex;

    &:not(:last-child){
        margin-bottom: 1.4rem;
    }

    &-left{

    }

    &__img{
        display: block;
        max-height: 150px;
    }


    &-right{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
    }
}