$bp-largest: 90em;     // 1440px
$bp-large: 75em;       // 1200px
$bp-medium: 64em;      // 1024px
$bp-small: 48em;       // 768px
$bp-smaller: 40em;    // 640px
$bp-smallest: 30em;    // 480px

.moviesList{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media only screen and (max-width: $bp-smaller){
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
        }
        grid-gap: 2rem;
        align-items: end;
        justify-items: center;
    }
}

.movies__item{

    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;

    &__image{
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 6px;
        box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.4);
    }
}

.movies__item:hover{
    transform: scale(1.02);
    box-shadow: inset 0 0 6px 2px rgba(#c0c0c0, 0.4);
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    & > nav > ul > li  * {
        font-size: 1.5rem;
    }
}