.searchbar{

    background-color: #fff;
    border-radius: 10rem;
    border: 1px solid #d4d4d4;
    color: #757575;
    font-size: 1.5rem;

    &__field{
        background: none;
        border: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        height: 3.5rem;
        width: 50rem;
        text-indent: 2rem;
        outline: none;
        cursor: text;
        text-decoration: none;
    }

    &__field::placeholder{
        text-indent: 2rem;
        text-align: center;
        color: #bbbbbb;
    }
}