$bp-largest: 90em;     // 1440px
$bp-large: 75em;       // 1200px
$bp-medium: 64em;      // 1024px
$bp-small: 48em;       // 768px
$bp-smaller: 40em;    // 640px
$bp-smallest: 30em;    // 480px

.searchbar{

    background-color: #fff;
    border-radius: 10rem;
    border: 1px solid #d4d4d4;
    color: #757575;
    font-size: 1.5rem;

    &__field{
        background: none;
        border: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        height: 3.5rem;
        width: 50rem;
        text-indent: 2rem;
        outline: none;
        cursor: text;
        text-decoration: none;

        
        @media only screen and (max-width: $bp-small){
            width: 30rem;
        }

        @media only screen and (max-width: $bp-smallest){
            width: 15rem;
        }

    }

    &__field::placeholder{
        text-indent: 2rem;
        text-align: center;
        color: #bbbbbb;
    }
}