$bp-largest: 90em;     // 1440px
$bp-large: 75em;       // 1200px
$bp-medium: 64em;      // 1024px
$bp-small: 48em;       // 768px
$bp-smaller: 40em;    // 640px
$bp-smallest: 30em;    // 480px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,ol{
  list-style: none;
}

li{
  font-size: 1.6rem;
}

#root{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @media only screen and (max-width: $bp-smaller){
    flex-direction: column;
    overflow: scroll;
  }
}

.bgImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/cinema.jpg');
  background-size: cover;
  transform: scale(1.03);
  filter: blur(8px);
  z-index: -1;
}