.container {
  max-width: 140rem;
  margin: 5rem auto;
  min-height: 50rem;
  display: flex;
  flex: 1;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 1rem 1rem 2.5rem 0.5rem rgba(0, 0, 0, 0.6); }
  @media only screen and (max-width: 90em) {
    .container {
      max-width: 120rem; } }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 115rem; } }
  @media only screen and (max-width: 64em) {
    .container {
      max-width: 95rem; } }
  @media only screen and (max-width: 48em) {
    .container {
      max-width: 70rem; } }
  @media only screen and (max-width: 40em) {
    .container {
      max-width: 60rem; } }
  @media only screen and (max-width: 40em) {
    .container {
      max-width: 50rem;
      flex: 0 0 auto;
      overflow: scroll; } }
  @media only screen and (max-width: 30em) {
    .container {
      max-width: 45rem;
      overflow: scroll; } }

.side-left {
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
  background-color: rgba(29, 29, 29, 0.5);
  backdrop-filter: blur(35px);
  color: #fff; }

.logo-container {
  padding: 1rem 2.4rem;
  margin-bottom: 3rem; }

.logo {
  width: 100%;
  display: block; }

.side-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff; }

.search {
  display: flex;
  height: 7.2rem;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border-bottom: 1px solid #d4d4d4; }

.content {
  display: flex; }
  @media only screen and (max-width: 48em) {
    .content {
      flex-direction: column; } }

.main-frame {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  padding: 4rem 2rem 2rem 2rem; }
  @media only screen and (max-width: 64em) {
    .main-frame {
      flex: 1 1 80%; } }

.latest_movies {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  border-left: 1px solid #d4d4d4;
  padding: 2rem; }

p {
  font-size: 1.6rem; }

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: .5rem; }

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: .5rem; }

h3 {
  font-size: 1.872rem;
  font-weight: 400;
  margin-bottom: .5rem; }

h4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: .5rem; }

h5 {
  font-size: 1.328rem;
  font-weight: 400;
  margin-bottom: .5rem; }

h6 {
  font-size: 1.72rem;
  font-weight: 400;
  margin-bottom: .5rem; }

hr {
  border: none;
  height: 1px;
  background-color: #d4d4d4;
  margin: 1.6rem 0; }

.filter-type {
  padding: 1rem 2.4rem;
  font-weight: 600;
  color: #ccc; }

.filters {
  margin-bottom: 4rem; }
  .filters__item {
    padding: 1rem 2.4rem;
    position: relative;
    z-index: 0;
    cursor: pointer; }
  .filters__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    z-index: -1;
    background-color: #ff2d55;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.25s; }
  .filters__item:hover::before {
    transform: scaleY(1);
    width: 100%; }

.latest_movies__heading {
  margin-bottom: 3rem;
  justify-self: baseline;
  align-self: center; }

.latest_movies__item {
  display: flex; }
  .latest_movies__item:not(:last-child) {
    margin-bottom: 1.4rem; }
  .latest_movies__item__img {
    display: block;
    max-height: 150px; }
    @media only screen and (max-width: 64em) {
      .latest_movies__item__img {
        max-height: 120px; } }
  .latest_movies__item-right {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center; }

.movieView {
  display: flex;
  flex-direction: column; }

.backBtn {
  width: 8rem;
  margin-top: -2rem;
  margin-bottom: 3rem;
  background: none;
  border: none;
  padding: .8rem 0;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  position: relative;
  transition: all .05s; }
  .backBtn:hover {
    color: white; }
  .backBtn:active {
    transform: translateY(0.2rem); }
  .backBtn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #ff2c55;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: all .2s; }
  .backBtn:hover::before {
    height: 100%; }
  .backBtn:active::before {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

.movie {
  display: flex; }
  @media only screen and (max-width: 64em) {
    .movie {
      flex-direction: column; } }
  @media only screen and (max-width: 40em) {
    .movie {
      flex-direction: column;
      flex: 0 0 auto; } }
  .movie__img {
    display: flex;
    align-self: flex-start;
    flex: 0 0 40%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0.4rem 0.4rem 1.5rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 64em) {
      .movie__img {
        align-self: center;
        margin-bottom: 2.5rem; } }
  .movie__img > img {
    width: 100%;
    height: auto; }

.movie__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem; }
  @media only screen and (max-width: 40em) {
    .movie__content {
      flex: 0 0 auto; } }
  .movie__content__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
  .movie__content__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media only screen and (max-width: 48em) {
      .movie__content__info {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; }
        .movie__content__info > *:not(:last-child) {
          margin-bottom: 2rem;
          margin-right: 0; } }
    .movie__content__info > *:not(:last-child) {
      margin-right: .5rem; }
    .movie__content__info--rating {
      flex: 0 0 auto;
      font-size: 1.3rem;
      font-weight: 500;
      background-color: orangered;
      color: white;
      border-radius: .7rem;
      padding: .5rem .8rem; }
  .movie__content__cast-list > :not(:last-child) {
    margin-bottom: .5rem; }

.moviesList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column; }
  .moviesList__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: end;
    justify-items: center; }
    @media only screen and (max-width: 40em) {
      .moviesList__container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }

.movies__item {
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s; }
  .movies__item__image {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); }

.movies__item:hover {
  transform: scale(1.02);
  box-shadow: inset 0 0 6px 2px rgba(192, 192, 192, 0.4); }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem; }
  .pagination > nav > ul > li * {
    font-size: 1.5rem; }

.pagination {
  align-self: center; }
  .pagination-li {
    display: inline-block;
    margin: .2em .5rem; }
  .pagination-btn {
    display: block;
    padding: .5rem 1rem;
    text-align: center;
    outline: none;
    background: none;
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s; }
  .pagination-btn:hover {
    background-color: #ff2c55;
    color: #fff; }

.searchbar {
  background-color: #fff;
  border-radius: 10rem;
  border: 1px solid #d4d4d4;
  color: #757575;
  font-size: 1.5rem; }
  .searchbar__field {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 3.5rem;
    width: 50rem;
    text-indent: 2rem;
    outline: none;
    cursor: text;
    text-decoration: none; }
    @media only screen and (max-width: 48em) {
      .searchbar__field {
        width: 30rem; } }
    @media only screen and (max-width: 30em) {
      .searchbar__field {
        width: 15rem; } }
  .searchbar__field::placeholder {
    text-indent: 2rem;
    text-align: center;
    color: #bbbbbb; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul, ol {
  list-style: none; }

li {
  font-size: 1.6rem; }

#root {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  @media only screen and (max-width: 40em) {
    #root {
      flex-direction: column;
      overflow: scroll; } }

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/cinema.jpg");
  background-size: cover;
  transform: scale(1.03);
  filter: blur(8px);
  z-index: -1; }
